[Unit]
Description=Shop Schedule HTTP Server
After=network.target

[Service]
User=__USER__
ExecStart=__INSTALL_DIR__/venv/bin/python3 __INSTALL_DIR__/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
