[Unit]
Description=Shop Schedule HTTP Server
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/python3 -m http.server --directory /home/pi/foreman-schedule/public 8080
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
